<template>
  <form class="d-flex flex-column align-center">
    <v-text-field
      id="address"
      ref="address"
      v-model="address.address"
      name="address"
      label="Address"
      type="text"
      disabled
      required
    />
    <vue-qrcode :value="address.address" :options="options" />
    <v-btn
      v-clipboard:copy="address.address"
      v-clipboard:success="onCopy"
      color="amber"
      class="mt-5"
      outlined
    >
      Copy
      <v-icon right>file_copy</v-icon>
    </v-btn>
  </form>
</template>
<script>
import VueQrcode from '@chenfengyuan/vue-qrcode'

export default {
  middleware: 'auth',
  components: {
    VueQrcode
  },
  props: {
    address: {
      type: Object,
      default: () => ({})
    },
    options: {
      type: Object,
      default: () => ({
        width: 200
      })
    }
  },
  methods: {
    onCopy() {
      this.$emit('onCopyAddressDepositFormEvent', this.address.address)
      this.$store.dispatch('snackbar/set', {
        top: false,
        right: false,
        left: true,
        color: 'default',
        show: true,
        text: `${this.address.address} copied to clipboard`
      })
      this.$router.push(`/wallet/${this.address.id}`)
    }
  }
}
</script>
