<template>
  <form
    class="d-flex flex-column align-center"
    @submit.prevent="submit"
    @change="validate"
  >
    <v-text-field
      id="address"
      ref="address"
      v-model="withdrawAddress"
      :rules="rules.address"
      :error="errors.address.length > 0"
      :error-messages="errors.address"
      name="address"
      label="Address"
      type="text"
      required
      @focus="errors.address = []"
    />
    <v-text-field
      id="amount"
      ref="amount"
      v-model="amount"
      :rules="rules.amount"
      :error="errors.amount.length > 0"
      :error-messages="errors.amount"
      name="amount"
      label="Amount"
      type="text"
      required
      @focus="errors.password = []"
    />
    <v-btn :disabled="!valid" type="submit" color="amber">
      Withdraw
    </v-btn>
  </form>
</template>
<script>
import { buildRawTransaction, sendTransaction } from '~/utils/wallet'

export default {
  middleware: 'auth',
  props: {
    address: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => {
    return {
      withdrawAddress: '',
      valid: false,
      amount: 0,
      errors: {
        address: [],
        amount: []
      },
      rules: {
        address: [(value) => !!value || 'Please, enter address.'],
        amount: [(value) => !!value || 'Please, enter amount.']
      }
    }
  },
  methods: {
    convertNumArrayToHexString(list) {
      const result = []
      for (let i = 0; i < list.length; i++) {
        result.push(list[i].toString(16))
      }
      return result.join('')
    },
    submit() {
      // console.log('123')
      const transaction = buildRawTransaction(
        this.withdrawAddress,
        this.address.private,
        this.amount
      )
      console.log('transaction', transaction)
      sendTransaction(transaction)
    },
    validate() {
      console.log('validate')
      this.valid = true
      return true
    }
  }
}
</script>
