<template>
  <div>
    <v-container v-show="showContainer === 0">
      <v-form class="d-flex flex-column justify-center">
        <autocomplete
          class="mt-5 mb-5"
          label="From"
          :initial-select="startPlace"
          @select="startPlaceHandler"
        />
        <div>
          <v-btn-toggle light>
            <v-btn dense @click="showContainer = 1">
              <v-icon>directions_car</v-icon>
            </v-btn>
            <v-btn dense @click="showContainer = 2">
              <v-icon>attach_money</v-icon>
            </v-btn>
            <v-btn dense @click="showContainer = 3">
              <v-icon>query_builder</v-icon>
            </v-btn>
          </v-btn-toggle>
          <v-btn icon @click="switchLocations">
            <v-icon>swap_vert</v-icon>
          </v-btn>
        </div>
        <autocomplete
          class="mt-5 mb-5"
          label="To"
          :initial-select="endPlace"
          @select="endPlaceHandler"
        />
        <v-btn class="mt-5 mb-5" color="amber" @click="submit">Get car</v-btn>
      </v-form>
    </v-container>
    <v-container v-show="showContainer === 1">
      <p>You pay in {{ carType }}</p>
      <v-radio-group v-model="carType" :mandatory="false">
        <v-radio
          label="Passenger"
          value="Passenger"
          @click="showContainer = 0"
        />
        <v-radio
          label="Station wagon"
          value="Station wagon"
          @click="showContainer = 0"
        />
        <v-radio label="Minibus" value="Minibus" @click="showContainer = 0" />
        <v-radio label="Cargo" value="Cargo" @click="showContainer = 0" />
      </v-radio-group>
    </v-container>
    <v-container v-show="showContainer === 2">
      <p>You pay in {{ paymentType }}</p>
      <v-radio-group v-model="paymentType" :mandatory="false">
        <v-radio label="Cash" value="Cash" @click="showContainer = 0" />
        <v-radio
          label="VISA/MasterCard"
          value="VISA/MasterCard"
          disabled
          @click="showContainer = 0"
        />
        <v-radio
          label="Bitcoin"
          value="Bitcoin"
          disabled
          @click="showContainer = 0"
        />
        <v-radio
          label="Ethereum"
          value="Ethereum"
          disabled
          @click="showContainer = 0"
        />
      </v-radio-group>
    </v-container>
    <v-container v-show="showContainer === 3">
      <div class="ml-auto mr-auto text-center">
        <p>The car will arrive: {{ timeType ? 'ASAP' : time }}</p>
        <v-switch v-model="timeType" color="amber" inset label="ASAP" />
        <v-time-picker
          v-show="!timeType"
          v-model="time"
          full-width
          scrollable
          header-color="amber"
          color="amber"
        />
        <v-btn class="mt-5" color="amber" @click="showContainer = 0">
          Continue
        </v-btn>
      </div>
    </v-container>
  </div>
</template>
<script>
import Autocomplete from '@/components/Autocomplete'
import { createNotification } from '~/utils/notifications'
import { createOrder } from '~/utils/orders'

export default {
  components: {
    Autocomplete
  },
  data: () => ({
    showContainer: 0,
    carType: 'Passenger',
    paymentType: 'Cash',
    timeType: 'ASAP',
    time: null,
    startPlace: null,
    endPlace: null,
    orderPub: null
  }),
  computed: {
    open() {
      return this.$store.state.dialog.open
    },
    data() {
      return this._data
    },
    createdAt() {
      const today = new Date()
      const date =
        today.getFullYear() +
        '-' +
        (today.getMonth() + 1) +
        '-' +
        today.getDate()
      const time =
        today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      return date + ' ' + time
    },
    user() {
      let user
      this.$gun()
        .get(`~${this.$user().is.pub}`)
        .once((data) => {
          user = data
        })
      return user
    }
  },
  watch: {
    open(value) {
      this.$store.dispatch('banner/set', {
        show: !value
      })
      return value
    },
    data(value) {
      const key = `${this._uuid}`
      if (value) {
        try {
          localStorage.setItem(key, value)
        } catch (e) {
          localStorage.removeItem(key)
        }
      }
    },
    carType(value) {
      // localStorage.carType = value
      this.showContainer = 0
      return value
    },
    paymentType(value) {
      // localStorage.paymentType = value
      this.showContainer = 0
      return value
    },
    startPlace(value) {
      // localStorage.startPlace = JSON.stringify(value)
      // this.$store.dispatch('mapp/setClickedPosition', value)
      return value
    },
    endPlace(value) {
      // localStorage.endPlace = JSON.stringify(value)
      // this.$store.dispatch('mapp/setClickedPosition', value)
      return value
    },
    orderPub(value) {
      // localStorage.orderPub = value
      return value
    }
  },
  mounted() {
    this.$store.dispatch('dialog/setRedirect', false)
    this.$store.dispatch('dialog/setOutsideClickHanding', false)
    const app = this
    this.$store.dispatch('banner/set', {
      show: true,
      text: 'Return to complete order',
      buttonFunction(value) {
        app.$store.dispatch('banner/set', { open: true })
        app.$store.dispatch('dialog/setOpen', true)
      },
      buttonText: 'Open form'
    })
    this.$nextTick(() => {
      /*
      const key = `${this._uuid}`
      const val = localStorage.getItem(key)
      if (val) {
        try {
          const newData = JSON.parse(val)
          console.log('newData', newData)
        } catch (e) {
          localStorage.removeItem(key)
        }
      }
      */
      /*
      if (localStorage.carType) {
        this.carType = localStorage.carType
      }
      if (localStorage.paymentType) {
        this.paymentType = localStorage.paymentType
      }
      if (localStorage.getItem('startPlace')) {
        try {
          this.startPlace = JSON.parse(localStorage.getItem('startPlace'))
        } catch (e) {
          localStorage.removeItem('startPlace')
        }
      }
      if (localStorage.getItem('endPlace')) {
        try {
          this.endPlace = JSON.parse(localStorage.getItem('endPlace'))
        } catch (e) {
          localStorage.removeItem('endPlace')
        }
      }
      if (localStorage.orderPub) {
        this.orderPub = localStorage.orderPub
      }
      */
    })
  },
  destroyed() {
    this.$store.dispatch('dialog/setRedirect', true)
    this.$store.dispatch('dialog/setOutsideClickHanding', true)
    this.$store.dispatch('dialog/setRedirectURL', '/')
    this.$store.dispatch('banner/set', {
      show: false,
      text: '',
      link: '/'
    })
  },
  methods: {
    getStartPoint(value) {
      return value
    },
    getEndPoint(value) {
      return value
    },
    startPlaceHandler(value) {
      this.startPlace = value
    },
    endPlaceHandler(value) {
      this.endPlace = value
    },
    switchLocations() {
      const oldStartPlace = this.startPlace
      const oldEndPlace = this.endPlace
      this.startPlace = oldEndPlace
      this.endPlace = oldStartPlace
    },
    sendNotification() {
      if (this.orderPub) {
        const notification = {
          link: `/orders/${this.orderPub}`,
          text: 'New order successfully created',
          read: false
        }
        const newNotification = createNotification(this.$gun(), notification)
        newNotification.once((data, dataPub) => {})
      }
    },
    submit() {
      const app = this
      if (!this.$user().is) {
        this.$store.dispatch('snackbar/set', {
          text: 'To create an order, you must be authorized.',
          color: 'error'
        })
        this.$router.push('auth/signin/?next=/orders/create')
      }
      const order = {
        carType: this.carType,
        paymentType: this.paymentType,
        timeType: this.timeType,
        time: this.time,
        createdAt: this.createdAt,
        status: 'Wait car',
        startPoint: {
          lat: this.startPlace.lat,
          lon: this.startPlace.lon
        },
        endPoint: {
          lat: this.endPlace.lat,
          lon: this.endPlace.lon
        }
      }
      createOrder(this.$gun(), order, this.user).once((data, dataPub) => {
        if (dataPub) {
          app.orderPub = dataPub
          app.sendNotification()
        }
      })
      app.$store.dispatch('snackbar/set', {
        show: true,
        text: `New order ${app.orderPub} successfully created!`,
        color: 'success'
      })
      app.$router.push(`/orders/${app.orderPub}`)
    }
  }
}
</script>
