<template>
  <modal-layout>
    <form-layout>
      <v-card flat>
        <div v-if="order" class="d-flex flex-column justify-start align-start">
          <v-icon :color="order.status === 'Wait car' ? 'success' : 'error'">
            fiber_manual_record
          </v-icon>
          <p>Car: {{ order.carType }}</p>
        </div>
      </v-card>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { getUsersOrder, getOrder } from '~/utils/orders'

export default {
  components: {
    ModalLayout,
    FormLayout
  },
  middleware: 'auth',
  computed: {
    open() {
      return this.$store.state.dialog.open
    }
  },
  watch: {
    open(value) {
      this.$store.dispatch('banner/set', {
        show: !value
      })
    }
  },
  asyncData({ params, store, error, app, redirect }) {
    let order
    if (params.id.length < 30) {
      order = getOrder(app.$gun(), params.id)
    } else {
      order = getUsersOrder(app.$gun(), params.id)
    }
    if (!app.$gun().user().is) {
      redirect(`/auth/signin?next=/orders/${params.id}`)
    } else {
      // error({
      //   statusCode: 403,
      //   message: 'You cannot view the order submitted not by you.'
      // })
      return { order, ownable: params.id.length > 30 }
    }
  },
  mounted() {
    this.$nextTick(() => {
      const app = this
      this.$store.dispatch('banner/set', {
        show: true,
        text: 'Return to complete order',
        buttonFunction(value) {
          app.$store.dispatch('banner/set', { open: false })
          app.$store.dispatch('dialog/setOpen', true)
        },
        buttonText: 'Open form'
      })
      this.$store.dispatch('dialog/setOutsideClickHanding', true)
      this.$store.dispatch('dialog/setRedirect', false)
    })
  },
  destroyed() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
      this.$store.dispatch('dialog/setRedirect', false)
      this.$store.dispatch('dialog/setRedirectURL', '/')
      this.$store.dispatch('banner/set', { show: false })
    })
  }
}
</script>
