<template>
  <div>
    <l-marker
      v-for="(marker, index) in markers"
      :key="index"
      :lat-lng="[marker.lat, marker.lng]"
      draggable
      @update:latLng="onPositionUpdate"
      @click="removeMarker(index)"
    />
    <modal-layout>
      <form-layout>
        <order-form />
      </form-layout>
    </modal-layout>
    <!--no-ssr>
      <l-gpx :gpx-file="gpx" />
    </no-ssr-->
    <l-polyline :lat-lngs="locations" />
  </div>
</template>
<style>
.leaflet-routing-container {
  display: none;
}
</style>
<script>
// import LGpx from 'vue2-leaflet-gpx'
// import createGpx from 'gps-to-gpx'
import ModalLayout from '@/components/ModalLayout'
import FormLayout from '@/components/FormLayout'
import OrderForm from '@/components/orders/OrderForm'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout,
    OrderForm
    // LGpx
  },
  data: () => ({
    map: null,
    markers: [],
    locations: [],
    routing: null,
    gpx: null
  }),
  computed: {
    clickedPosition() {
      return this.$store.state.mapp.clickedPosition
    }
  },
  watch: {
    clickedPosition(position) {
      if (position && 'lat' in position && this.markers.length <= 2) {
        const marker = this.$L.latLng(position)
        this.markers.push(marker)
        this.$store.dispatch('dialog/setOpen', true)
      }
    },
    markers(markers) {
      if (markers.length <= 2) {
        if (!this.routing) {
          this.showRouting()
        } else {
          this.routing.setWaypoints(markers)
        }
      }
      if (markers.length === 2) {
        console.log('markers.length', markers.length)
        // 42.05841064453126,42.14915080911932;42.05291748046875,41.8491046861039?overview=false&alternatives=true&steps=true&hints=;
        const coordinates = `${markers[0].lat},${markers[0].lng};${markers[1].lat},${markers[1].lng}`
        const query = `?overview=false&alternatives=true&steps=true&hints=false`
        const url = new URL(
          `https://router.project-osrm.org/route/v1/driving/${coordinates}${query}`
        )
        const locations = []
        fetch(url.toJSON())
          .then((response) => {
            // console.log('markers response', response)
            response
              .json()
              .then((response) => {
                console.log('marker response', response)
                if (response.code === 'Ok') {
                  response.routes.forEach(function(route) {
                    console.log('route', route)
                    route.legs.forEach(function(leg) {
                      console.log('leg', leg)
                      leg.steps.forEach(function(step) {
                        console.log('step', step)
                        step.intersections.forEach(function(intersection) {
                          console.log('intersection', intersection)
                          locations.push({
                            lat: intersection.location[0],
                            lng: intersection.location[1]
                          })
                        })
                      })
                    })
                  })
                }
              })
              .catch((error) => {
                console.log('error in markers response.json()', error)
              })
          })
          .catch((error) => {
            console.log('error in markers fetch', error)
          })
        this.locations = locations
        console.log('this.locations', this.locations)
        markers = markers.slice(0, 2)
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.map = this.$parent.$parent.$parent.$refs.map.mapObject
      this.showRouting()
    })
  },
  beforeDestroy() {
    this.hideRouting()
    this.$store.dispatch('mapp/setClickedPosition', null)
  },
  methods: {
    onPositionUpdate(position) {
      /*
      console.log('onPositionUpdate markers.length', this.markers.length)
      if (this.routing) {
        if (this.markers.length <= 2) {
          this.routing.setWaypoints(this.markers)
          this.$store.dispatch('dialog/setOpen', false)
        } else {
          this.markers = this.markers.slice(0, 2)
        }
      }
      */
    },
    showRouting() {
      if (this.markers.length > 1 && !this.routing) {
        const L = this.$L
        require('leaflet-routing-machine')
        this.routing = L.Routing.control({
          routeWhileDragging: true,
          waypoints: this.markers
        })
          .on('routingerror', function(event) {
            this.$store.dispatch('snackbar/set', {
              show: true,
              color: 'error',
              text: 'Failed to build route. Please, try again.'
            })
          })
          .addTo(this.map)
      }
    },
    showGPX() {
      if (process.client) {
        if (this.markers.length > 1) {
          // this.gpx = createGpx(this.markers, {
          //   latKey: 'lat',
          //   lonKey: 'lng'
          // }).on('loaded', function(e) {
          //   console.log('e.target.get_distance', e.target.get_distance())
          // })
        }
      }
    },
    hideRouting() {
      if (this.routing) {
        this.routing.remove()
      }
    },
    removeMarker(index) {
      this.markers.splice(index, 1)
    }
  }
}
</script>
