<template>
  <div>
    <modal-layout>
      <form-layout>
        <v-item-group multiple mandatory>
          <v-item v-for="order in usersOrders" :key="order.id">
            <v-card
              v-if="order && order.carType"
              class="my-5"
              @click="$router.push(`/orders/${order.id}`)"
            >
              <v-card-text>
                {{ order.id }}
                {{ order.status }}
              </v-card-text>
            </v-card>
          </v-item>
        </v-item-group>
      </form-layout>
    </modal-layout>
    <l-marker
      v-for="order in orders"
      :key="order.id"
      :lat-lng="[order.startPlace.lat, order.startPlace.lon]"
      @click="$router.push(`/orders/${order.id}`)"
    >
      <l-icon icon-url="/icons/order.png" :icon-size="[40, 40]" />
    </l-marker>
  </div>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { getUsersOrders, getOrders } from '~/utils/orders'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout
  },
  asyncData({ app }) {
    const usersOrders = getUsersOrders(app.$gun())
    const orders = getOrders(app.$gun())
    console.log('orders', orders)
    return { usersOrders, orders }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', true)
      this.$store.dispatch('dialog/setRedirect', false)
      this.$store.dispatch('dialog/setRedirectURL', '/')
    })
  },
  destroyed() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
      this.$store.dispatch('dialog/setRedirect', false)
    })
  }
}
</script>
