<template>
  <modal-layout>
    <form-layout>
      <car-form />
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import CarForm from '~/components/cars/CarForm'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout,
    CarForm
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
      this.$store.dispatch('dialog/setRedirect', false)
      this.$store.dispatch('dialog/setRedirectURL', '/')
    })
  }
}
</script>
