<template>
  <modal-layout>
    <form-layout>
      <div v-if="cars.length > 0" class="d-flex flex-column">
        <car-list-card v-for="car in cars" :key="car.id" :car="car" />
      </div>
      <v-divider class="mt-10" />
      <div class="d-flex flex-column justify-center align-center mt-10">
        <div class="title">
          You have {{ cars.length > 0 ? cars.length : 'no' }} cars
        </div>
        <v-btn color="amber" class="mt-7" to="/cars/create">
          Create now
        </v-btn>
      </div>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import CarListCard from '~/components/cars/CarListCard'
import { getCars } from '~/utils/cars'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout,
    CarListCard
  },
  async asyncData({ app }) {
    const cars = await getCars(app.$gun())
    return { cars }
  },
  async mounted() {
    await this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
      this.$store.dispatch('dialog/setRedirect', false)
      this.$store.dispatch('dialog/setRedirectURL', '/')
    })
  },
  destroyed() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
      this.$store.dispatch('dialog/setRedirect', false)
    })
  }
}
</script>
