<template>
  <v-autocomplete
    v-model="select"
    :loading="loading"
    :items="items"
    :search-input.sync="search"
    cache-items
    class="mx-4"
    flat
    hide-no-data
    hide-details
    return-object
    item-text="display_name"
    item-value="display_name"
    :label="label"
    outlined
    required
    append-outer-icon="my_location"
    @click:append-outer="getLocation"
  />
</template>
<script>
import fetch from 'cross-fetch'

export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    initialSelect: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    loading: false,
    select: null,
    items: [],
    search: null
  }),
  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val)
    },
    select(value) {
      if (value) {
        this.items.push(value)
        this.$emit('select', value)
      }
    },
    initialSelect(value) {
      if (this.initialSelect && 'display_name' in this.initialSelect) {
        this.select = this.initialSelect
      }
    }
  },
  created() {
    if (this.initialSelect && 'display_name' in this.initialSelect) {
      this.select = this.initialSelect
    }
  },
  methods: {
    querySelections(q) {
      const app = this
      this.loading = true
      this.$nominatim()
        .search({
          q
        })
        .then((results) => {
          app.items = results
        })
      this.loading = false
    },
    getLocation() {
      const app = this
      this.$store.dispatch('dialog/setOpen', false)
      const params = {}
      params.format = params.format || 'json'
      const position = this.$store.state.mapp.clickedPosition
      if (position && 'lat' in position) {
        const query = `lat=${position.lat}&lon=${position.lng}`
        const url = new URL(
          `https://nominatim.openstreetmap.org/reverse?${query}`
        )
        Object.keys(params).forEach((key) =>
          url.searchParams.append(key, params[key])
        )
        fetch(url.toJSON())
          .then((response) => {
            console.log('response', response)
            response
              .json()
              .then((response) => {
                console.log('response', response)
                app.items.push(response)
                app.select = response
              })
              .catch((error) => {
                console.log('error in response.json()', error)
              })
          })
          .catch((error) => {
            console.log('error in fetch', error)
          })
      }
    }
  }
}
</script>
