<template>
  <div>
    <l-marker
      v-for="car in $store.state.mapp.cars"
      :key="car.pub"
      :lat-lng="[car.position.latitude, car.position.longitude]"
    >
      <l-icon v-if="car.icon" :icon-url="car.icon.src" />
      <l-popup>
        <v-card class="mx-auto" max-width="344">
          <v-card-text>
            <div>Word of the Day</div>
            <p class="display-1 text--primary">
              be•nev•o•lent
            </p>
            <p>adjective</p>
            <div class="text--primary">
              well meaning and kindly.<br />
              "a benevolent smile"
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="deep-purple accent-4">
              Learn More
            </v-btn>
          </v-card-actions>
        </v-card>
      </l-popup>
    </l-marker>
  </div>
</template>
