<template>
  <v-card flat>
    <v-toolbar
      :color="$vuetify.breakpoint.xs ? 'amber' : 'white'"
      :flat="!$vuetify.breakpoint.xs"
      sticky
      top
    >
      <v-btn icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-spacer />
      <v-btn icon @click="$router.push('/')">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
    <div class="d-flex flex-row justify-center align-center">
      <div class="py-10 my-5 px-10">
        <slot />
      </div>
    </div>
  </v-card>
</template>
