<template>
  <v-row justify="center" class="map-wrapper">
    <no-ssr>
      <l-map
        ref="map"
        :zoom="$store.state.mapp.zoom"
        :options="$store.state.mapp.options"
        :center="$store.state.mapp.center"
        @update:center="updateCenter"
        @click="addMarker"
      >
        <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" />
        <nuxt />
      </l-map>
    </no-ssr>
  </v-row>
</template>
<style>
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent;
  color: transparent;
  box-shadow: none;
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: none;
  border: none;
  text-align: center;
  width: none;
  height: none;
  font: none;
  color: transparent;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: transparent;
}
.leaflet-routing-alt {
  background: #ffffff;
}
.map-wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}
</style>
<script>
export default {
  data() {
    return {
      map: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.map = this.$refs.map.mapObject
    })
  },
  methods: {
    getMapRouting() {
      var L = this.$L // eslint-disable-line no-var
      require('leaflet-routing-machine')
      L.Routing.control({
        waypoints: [
          this.$L.latLng(57.74, 11.94),
          this.$L.latLng(57.6792, 11.949)
        ]
      }).addTo(this.map)
    },
    addMarker(position) {
      return this.$store.dispatch('mapp/setClickedPosition', position.latlng)
    },
    updateCenter(data) {
      this.$store.dispatch('mapp/setCenter', Object.values(data))
    }
  }
}
</script>
