<template>
  <portal to="modal">
    <v-dialog
      v-model="$store.state.dialog.open"
      max-width="900"
      :fullscreen="$vuetify.breakpoint.xsOnly"
      :persistent="!$store.state.dialog.outsideClickHanding"
      @click:outside="outsideClickHandler"
    >
      <slot />
    </v-dialog>
  </portal>
</template>
<script>
export default {
  mounted() {
    this.$store.dispatch('dialog/setOpen', true)
  },
  methods: {
    outsideClickHandler(event) {
      if (this.$store.state.dialog.outsideClickHanding) {
        if (this.$store.state.dialog.open) {
          this.$store.dispatch('dialog/setOpen', false)
        } else {
          this.$store.dispatch('dialog/setOpen', true)
        }
      }
    }
  }
}
</script>
