<template>
  <div>
    <l-marker
      v-for="order in $store.state.mapp.orders"
      :key="order.pub"
      :lat-lng="[order.startPoint.lat, order.startPoint.lon]"
    >
      <l-icon v-if="order.icon" :icon-url="order.icon.src" />
      <l-popup>
        <v-orderd class="mx-auto" max-width="344">
          <v-orderd-text>
            <div>Word of the Day</div>
            <p class="display-1 text--primary">
              be•nev•o•lent
            </p>
            <p>adjective</p>
            <div class="text--primary">
              well meaning and kindly.<br />
              "a benevolent smile"
            </div>
          </v-orderd-text>
          <v-orderd-actions>
            <v-btn text color="deep-purple accent-4">
              Learn More
            </v-btn>
          </v-orderd-actions>
        </v-orderd>
      </l-popup>
    </l-marker>
  </div>
</template>
