<template>
  <div>
    <l-marker
      v-for="user in users"
      :key="user.pub"
      :lat-lng="[user.position.latitude, user.position.longitude]"
      @click="$router.push(`/users/${user.pub}`)"
    >
      <l-icon v-if="user.icon" :icon-url="user.icon" />
    </l-marker>
  </div>
</template>
<script>
export default {
  data() {
    const users = []
    return { users }
  },
  async mounted() {
    const app = this
    await app
      .$gun()
      .get('users')
      .once()
      .map()
      .on(function(user) {
        this.get('position').once((data) => {
          if (app.validateUserPosition(data)) {
            user.position = data
            if (app.validateUserOnline(user)) {
              app.users.push(user)
            }
          }
        })
      })
      .then()
    app.users = await [...new Set(app.users)]
  },
  methods: {
    validateUser(user) {
      return this.validateUserPosition(user.position)
    },
    validateUserOnline(user) {
      return user.online
    },
    validateUserPosition(position) {
      return position && position.latitude && position.longitude
    }
  }
}
</script>
