<template>
  <modal-layout>
    <form-layout>
      <p v-if="user">Hello {{ user.alias }}!</p>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout
  },
  head() {
    return {
      title: `${this.user.alias}'s profile page`
    }
  },
  computed: {
    user() {
      return this.$gun().user() ? this.$gun().user().is : null
    }
  }
}
</script>
