<template>
  <modal-layout>
    <form-layout>
      <reset-password-form />
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import ResetPasswordForm from '~/components/auth/ResetPasswordForm'

export default {
  components: {
    ModalLayout,
    FormLayout,
    ResetPasswordForm
  },
  middleware: 'auth',
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
    })
  }
}
</script>
