<template>
  <modal-layout>
    <form-layout>
      <signout-form />
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import SignoutForm from '~/components/auth/SignoutForm'

export default {
  middleware: 'auth',
  head: {
    title: 'Signout page'
  },
  components: {
    ModalLayout,
    FormLayout,
    SignoutForm
  }
}
</script>
