<template>
  <modal-layout>
    <form-layout>
      <signin-form />
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import SigninForm from '~/components/auth/SigninForm'

export default {
  middleware: 'anonymous',
  head: {
    title: 'Signin page'
  },
  components: {
    ModalLayout,
    FormLayout,
    SigninForm
  }
}
</script>
