<template>
  <modal-layout>
    <form-layout>
      <signup-form />
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import SignupForm from '~/components/auth/SignupForm'

export default {
  middleware: 'anonymous',
  head: {
    title: 'Signup page'
  },
  components: {
    ModalLayout,
    FormLayout,
    SignupForm
  }
}
</script>
