<template>
  <v-app-bar app clipped-left color="amber">
    <v-app-bar-nav-icon @click="$store.dispatch('toggleDrawer')" />
    <span class="title ml-3 mr-5"
      >Free&nbsp;<span class="font-weight-light">Taxi</span></span
    >
    <v-text-field
      solo
      background-color="amber darken-1"
      color="black"
      flat
      hide-details
      label="Search"
      prepend-inner-icon="search"
    />
    <v-spacer />
    <notifications />
    <auth />
  </v-app-bar>
</template>
<script>
import Notifications from '~/components/base/Notifications'
import Auth from '~/components/base/Auth'

export default {
  components: {
    Notifications,
    Auth
  }
}
</script>
