<template>
  <v-menu v-model="open" :nudge-width="200" offset-x>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-icon v-if="!$gun().user().is" x-large>account_circle</v-icon>
        <v-avatar v-else size="45">
          <img
            :src="
              user.avatar
                ? user.avatar
                : 'https://cdn.vuetifyjs.com/images/john.jpg'
            "
            :alt="user.alias"
          />
        </v-avatar>
      </v-btn>
    </template>
    <v-card>
      <v-list v-show="$gun().user().is">
        <v-list-item>
          <v-list-item-avatar>
            <img
              :src="
                user.avatar
                  ? user.avatar
                  : 'https://cdn.vuetifyjs.com/images/john.jpg'
              "
              :alt="user.alias"
            />
          </v-list-item-avatar>
          <v-list-item-content v-show="user.alias">
            <v-list-item-title>
              {{ user.alias }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider v-if="$gun().user().is" />

      <v-list v-if="$gun().user().is">
        <v-list-item v-for="item in authItems" :key="item.text" :to="item.link">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-title>
            {{ item.text }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-list v-if="!$gun().user().is">
        <v-list-item v-for="item in anonItems" :key="item.text" :to="item.link">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-title>
            {{ item.text }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>
<script>
export default {
  data: () => ({
    open: false,
    authItems: [
      {
        icon: 'https',
        text: 'Reset password',
        link: '/auth/reset-password'
      },
      {
        icon: 'security',
        text: 'Password hints',
        link: '/auth/hints-password'
      },
      {
        icon: 'exit_to_app',
        text: 'Signout',
        link: '/auth/signout'
      }
    ],
    anonItems: [
      {
        icon: 'exit_to_app',
        text: 'Signin',
        link: '/auth/signin'
      },
      {
        icon: 'person_add',
        text: 'Signup',
        link: '/auth/signup'
      }
    ]
  }),
  computed: {
    auth() {
      return this.$user()
    },
    user() {
      let user = {}
      const auth = this.$gun().user().is
      if (auth) {
        this.$gun()
          .get(`~${auth.pub}`)
          .on((data) => (user = data))
      }
      return user
    }
  },
  watch: {
    user(user) {
      return user
    },
    auth(value) {
      return value
    }
  }
}
</script>
