<template>
  <v-banner v-show="banner.show" single-line sticky>
    {{ banner.text }}
    <template v-show="banner.showButton" v-slot:actions>
      <v-btn text color="amber" @click="banner.buttonFunction">
        {{ banner.buttonText }}
      </v-btn>
    </template>
  </v-banner>
</template>
<script>
export default {
  computed: {
    banner() {
      return this.$store.state.banner
    }
  }
}
</script>
