<template>
  <v-navigation-drawer
    :value="$store.state.drawer"
    app
    clipped
    color="grey lighten-4"
    @input="watchDrawerState"
  >
    <v-toolbar v-show="$vuetify.breakpoint.mdAndDown" color="amber">
      <v-app-bar-nav-icon @click="$store.dispatch('toggleDrawer')" />
      <v-toolbar-title>
        <span class="title">
          Free&nbsp;<span class="font-weight-light">Taxi</span>
        </span>
      </v-toolbar-title>
    </v-toolbar>
    <v-list dense class="grey lighten-4">
      <template v-for="(item, i) in items">
        <v-row v-if="item.heading" :key="i" align="center">
          <v-col cols="6">
            <v-subheader v-if="item.heading" class="grey--text">
              {{ item.heading }}
            </v-subheader>
          </v-col>
        </v-row>
        <v-divider
          v-else-if="item.divider"
          :key="i"
          dark
          class="my-4"
        ></v-divider>
        <v-list-item v-else :key="i" :to="item.link">
          <v-list-item-action>
            <v-icon class="grey--text">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="grey--text">
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  data: () => ({
    items: [
      { icon: 'map', text: 'Map', link: '/' },
      { icon: 'add', text: 'Get car', link: '/orders/create' },
      { icon: 'list', text: 'Orders', link: '/orders' },
      { divider: true },
      { heading: 'Work' },
      { icon: 'directions_car', text: 'Cars', link: '/cars' },
      { icon: 'attach_money', text: 'Wallet', link: '/wallet' }
    ]
  }),
  methods: {
    watchDrawerState(state) {
      if (!state) {
        this.$store.dispatch('setDrawer', state)
      }
    }
  }
}
</script>
