<template>
  <v-menu v-if="$gun().user().is" v-model="open" :nudge-width="200" offset-x>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-badge
          v-if="items.length > 0"
          color="red"
          right
          overlap
          class="align-self-center"
        >
          <template v-slot:badge>
            <span>{{ items.length }}</span>
          </template>
          <v-icon>notifications</v-icon>
        </v-badge>
        <v-icon v-else>notifications</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-list v-if="items.length > 0">
        <v-list-item
          v-for="item in items"
          :key="item.id"
          :to="item.link"
          @mouseover="read(item)"
        >
          <v-list-item-action>
            <v-icon v-if="item.icon">{{ item.icon }}</v-icon>
            <v-img v-else-if="item.imgSrc" :src="item.imgSrc" />
            <v-icon else color="success">check_circle_outline</v-icon>
          </v-list-item-action>
          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-card-text v-else>
        You don't have unread notifications
      </v-card-text>
    </v-card>
  </v-menu>
</template>
<script>
export default {
  data: () => ({
    items: [],
    open: false
  }),
  computed: {
    get() {
      const app = this
      const gun = this.$gun()
      gun
        .user()
        .get('notifications')
        .map()
        .on(function(data, dataPub) {
          data.id = dataPub
          app.push(data)
        })
      return this.items
    }
  },
  watch: {
    get(value) {
      return value
    }
  },
  methods: {
    push(notification) {
      const notifications = []
      if (!this.items.includes(notification)) {
        if (!notification.read) {
          notifications.push(notification)
        }
      }
      this.items = notifications
    },
    read(notification) {
      const read = () =>
        this.$gun()
          .user()
          .get('notifications')
          .get(`${notification.id}`)
          .put({ read: true })
      setTimeout(function() {
        read()
      }, 5000)
    }
  }
}
</script>
