<template>
  <v-snackbar
    v-model="show"
    :multi-line="false"
    :right="snackbar.right"
    :timeout="snackbar.timeout"
    :top="snackbar.top"
    :color="snackbar.color"
  >
    {{ snackbar.text }}
    <v-spacer />
    <v-btn text @click="$store.dispatch('snackbar/pop')">
      Close
      <!--v-icon>close_circle</v-icon-->
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false
    }
  },
  computed: {
    snackbar() {
      const snackbar = this.$store.state.snackbar.snackbar
      return snackbar
    }
  },
  watch: {
    'snackbar.show': 'changeVisibility',
    show(val) {
      if (!val) {
        this.$store.dispatch('snackbar/set', {
          show: false
        })
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.show = this.snackbar.show
    })
  },
  methods: {
    changeVisibility() {
      this.show = this.snackbar.show
    }
  }
}
</script>
