<template>
  <modal-layout>
    <form-layout>
      <form
        class="d-flex flex-column align-center justify-center"
        @submit.prevent="submit"
      >
        <p>
          Are you sure you want to delete the car {{ car.mark }}
          {{ car.model }} {{ car.number }}?
        </p>
        <v-btn
          class="mt-5"
          color="error"
          type="submit"
          :disabled="$store.state.loading"
          :loading="$store.state.loading"
          outlined
        >
          Delete
        </v-btn>
      </form>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { getCar, deleteCar } from '~/utils/cars'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout
  },
  async asyncData({ app, params }) {
    const car = await getCar(app.$gun(), params.id)
    return { car }
  },
  async mounted() {
    await this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
    })
  },
  methods: {
    async submit() {
      const text = `${this.car.mark} ${this.car.model} ${this.car.number} successfully deleted!`
      await deleteCar(this.$gun(), this.car.id)
      await this.$store.dispatch('snackbar/set', {
        show: true,
        color: 'error',
        text
      })
      await this.$router.push('/cars')
    }
  }
}
</script>
