<template>
  <modal-layout>
    <form-layout>
      <v-card flat>
        <v-list>
          <v-list-item v-if="car" three-line>
            <v-list-item-avatar size="160">
              <img :src="car.image" />
            </v-list-item-avatar>
            <v-list-item-content>
              <div class="overline mb-4">{{ car.number }}</div>
              <v-list-item-title class="headline mb-1">
                {{ car.mark }} {{ car.model }}
              </v-list-item-title>
              <v-list-item-subtitle>0 complete orders</v-list-item-subtitle>
              <v-card outlined class="mt-5">
                <v-card-title style="font-size: 1rem">
                  Images
                </v-card-title>
                <v-list>
                  <v-list-item>
                    <v-list-item-avatar
                      v-for="(image, index) in images"
                      :key="index"
                      size="64"
                      tile
                    >
                      <v-img :src="image" />
                    </v-list-item-avatar>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-card-actions v-if="car" class="mt-10">
          <v-btn
            :color="car.active ? 'error' : 'success'"
            outlined
            @click="handleCar"
          >
            <v-icon>
              {{ car.active ? 'close' : 'done' }}
            </v-icon>
            {{ car.active ? 'Deactivate' : 'Activate' }}
          </v-btn>
          <v-btn color="error" outlined :to="`/cars/${car.id}/delete`">
            <v-icon>delete</v-icon>
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { getCar, getCarImages, activateCar, deactivateCar } from '~/utils/cars'

export default {
  components: {
    ModalLayout,
    FormLayout
  },
  middleware: 'auth',
  async asyncData({ app, params }) {
    const car = await getCar(app.$gun(), params.id)
    const images = await getCarImages(app.$gun(), params.id)
    return { car, images }
  },
  async mounted() {
    await this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', true)
      this.$store.dispatch('dialog/setRedirect', true)
      this.$store.dispatch('dialog/setRedirectURL', '/cars')
    })
  },
  destroyed() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
      this.$store.dispatch('dialog/setRedirect', true)
      this.$store.dispatch('dialog/setRedirectURL', '/')
    })
  },
  methods: {
    handleCar() {
      if (this.car.active) {
        deactivateCar(this.$gun(), this.car.id)
      } else {
        activateCar(this.$gun(), this.car.id)
      }
    }
  }
}
</script>
