<template>
  <div>
    <modal-layout>
      <form-layout>
        <v-card flat class="d-flex flex-column justify-center text-center">
          <upload-button
            v-if="user.avatar"
            color="white"
            title=""
            :disabled="!($user().is && user.pub === $user().is.pub)"
            :icon="true"
            :ripple="false"
            :hover="false"
            @file-update="avatarUploadHandler"
          >
            <template slot="icon">
              <v-avatar size="128" @click="avatarClickHandler">
                <v-img :src="user.avatar" />
              </v-avatar>
            </template>
          </upload-button>
          <upload-button
            v-else
            color="transparent"
            title=""
            :disabled="!($user().is && user.pub === $user().is.pub)"
            :icon="true"
            :ripple="false"
            :hover="false"
            @file-update="avatarUploadHandler"
          >
            <template slot="icon">
              <v-icon color="amber" size="128" @click="avatarClickHandler">
                account_circle
              </v-icon>
            </template>
          </upload-button>
          <v-card-text>
            <p class="display-1 text--primary">
              {{ user.alias }}
            </p>
            <div class="text--primary">
              well meaning and kindly.<br />
              "a benevolent smile"
            </div>
          </v-card-text>
          <v-card-actions class="mt-5">
            <v-btn text color="black">
              Let's chat
            </v-btn>
          </v-card-actions>
        </v-card>
      </form-layout>
    </modal-layout>
  </div>
</template>
<script>
import UploadButton from 'vuetify-upload-button'

import ModalLayout from '@/components/ModalLayout'
import FormLayout from '@/components/FormLayout'

export default {
  components: {
    UploadButton,
    ModalLayout,
    FormLayout
  },
  asyncData({ params, error, app, redirect, store }) {
    // const orderPub = params.id
    let user = null
    app
      .$gun()
      .get('users')
      .get(`~${params.id}`)
      .once((userOrUndefined) => (user = userOrUndefined))
    console.log('params.id', params.id)
    // if (user) {
    //   store.dispatch('mapp/setUsers', [user])
    // }
    // .map((item, id) => id === orderPub ? item : undefined).once((item, id) => item = order)
    console.log('user', user)
    if (user) {
      return { user }
    } else {
      error({
        statusCode: 404,
        message: `User #${params.id} not found`
      })
    }
  },
  mounted() {
    this.$store.dispatch('dialog/setRedirect', true)
  },
  methods: {
    avatarUploadHandler(file) {
      this.$store.dispatch('mapp/setUsers', [])
      const app = this
      const reader = new FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => {
        app.setAvatar(reader.result)
        app.$emit('onUpdateAvatarUploadHandler', reader.result)
      }
      // this.$store.dispatch('mapp/setUsers', [this.user])
    },
    setAvatar(avatar) {
      // console.log('data', this.$data)
      const user = this.$gun().user()
      user.get('avatar').put(avatar)
    },
    avatarClickHandler() {
      if (this.$user().is && this.user.pub === this.$user().is.pub) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>
