<template>
  <v-app id="keep">
    <app-bar />
    <navigation-drawer />
    <banner />
    <snackbar />
    <v-content>
      <v-container id="keep-container" fluid class="grey lighten-4">
        <main-map />
        <portal-target name="modal" />
      </v-container>
    </v-content>
  </v-app>
</template>
<style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9e9e9e !important;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107 !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
</style>
<script>
import AppBar from '~/components/base/AppBar'
import NavigationDrawer from '~/components/base/NavigationDrawer'
import Banner from '~/components/base/Banner'
import Snackbar from '~/components/base/Snackbar'
import MainMap from '@/components/Map'

export default {
  components: {
    AppBar,
    NavigationDrawer,
    Banner,
    Snackbar,
    MainMap
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('auth/recall')
    })
  }
}
</script>
<style>
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent;
  color: transparent;
  box-shadow: none;
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: none;
  border: none;
  text-align: center;
  width: none;
  height: none;
  font: none;
  color: transparent;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: transparent;
}
.leaflet-routing-alt {
  background: #ffffff;
}
#keep .v-navigation-drawer__border {
  display: none;
}
html {
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
</style>
