<template>
  <div>
    <users-markers />
    <cars-markers />
  </div>
</template>
<script>
import UsersMarkers from '~/components/UsersMarkers'
import CarsMarkers from '~/components/CarsMarkers'

export default {
  components: {
    UsersMarkers,
    CarsMarkers
  },
  mounted() {
    this.$nextTick(() => {
      // this.getOrders()
      this.getUsers()
      // this.getCars()
    })
    this.$store.dispatch('dialog/setRedirect', false)
  },
  methods: {
    getOrders() {
      const app = this
      const gun = this.$gun()
      gun.get('orders').open(function(data) {
        const orders = Object.values(data)
        orders.forEach(function(order) {
          if (order && order.startPoint && order.endPoint) {
            app.pushOrder(order)
          }
        })
      })
    },
    pushOrder(order) {
      if (!this.$store.state.mapp.orders.some(order)) {
        // this.orders.push(order)
      }
    },
    getUsers() {
      // const users = []
      // const gun = this.$gun()
      // const store = this.$store
      // this.$store.dispatch('mapp/setUsers', [])
      // this.$store.dispatch('mapp/setUsers', users)
      return []
    },
    getCars() {
      const app = this
      const gun = this.$gun()
      gun.get('cars').open(function(data) {
        const cars = Object.values(data)
        cars.forEach(function(car) {
          if (
            car &&
            car.position &&
            car.position.latitude &&
            car.position.longitude
          ) {
            app.pushCar(car)
          }
        })
      })
    },
    pushCar(car) {
      if (!this.$store.state.mapp.cars.includes(car)) {
        this.$store.dispatch('map/pushCar', car)
      }
    }
  }
}
</script>
