<template>
  <form class="d-flex flex-column align-center" @submit.prevent="submit">
    <v-text-field
      v-if="hints"
      id="currentPasswordHints"
      v-model="hints"
      name="currentPasswordHints"
      label="current password hints"
      color="amber"
      type="text"
      outlined
      required
      disabled
    />
    <v-text-field
      id="phrase"
      v-model="phrase"
      :rules="rules.phrase"
      :error="errors.phrase.length > 0"
      :error-messages="errors.phrase"
      name="phrase"
      label="New hint phrase"
      color="amber"
      type="text"
      outlined
      required
      @focus="errors.phrase = []"
    />
    <v-btn
      :disabled="$store.state.loading"
      :loading="$store.state.loading"
      type="submit"
      class="mt-5"
      outlined
      color="amber"
    >
      Save hints
    </v-btn>
  </form>
</template>
<script>
export default {
  data: () => {
    return {
      phrase: '',
      hints: '',
      errors: {
        phrase: []
      },
      rules: {
        phrase: [(value) => !!value || 'Please, enter first phrame.']
      }
    }
  },
  async mounted() {
    let phrase
    await this.$gun()
      .user()
      .get('hints')
      .once(function(data, id) {
        if (data && data.phrase) {
          phrase = data.phrase.slice(1, data.phrase.length)
        }
      })
      .then()
    const message = await this.$SEA().verify(phrase, this.$user().is.pub)
    const decrypted = await this.$SEA().decrypt(message, this.$user()._.sea)
    const proof = await this.$SEA().work('A1', 'A2')
    const hint = await this.$SEA().decrypt(decrypted, proof)
    console.log('decrypted', decrypted)
    console.log('proof', proof)
    console.log('hint', hint)
    // const hint = await this.$SEA().decrypt(message, this.$user()._.sea)
    this.hints = phrase
  },
  methods: {
    async submit() {
      await this.$store.dispatch('auth/hintsPassword', this.phrase)
    }
  }
}
</script>
