<template>
  <form class="d-flex flex-column align-center" @submit.prevent="submit">
    <v-text-field
      id="username"
      v-model="username"
      :rules="rules.username"
      :error="errors.username.length > 0"
      :error-messages="errors.username"
      name="username"
      label="Username"
      color="amber"
      type="text"
      outlined
      required
      @focus="errors.username = []"
    />
    <v-text-field
      id="password"
      v-model="password"
      :rules="rules.password"
      :error="errors.password.length > 0"
      :error-messages="errors.password"
      name="password"
      label="Current password"
      color="amber"
      type="password"
      outlined
      required
      @focus="errors.password = []"
    />
    <v-text-field
      id="newPassword"
      v-model="newPassword"
      :rules="rules.newPassword"
      :error="errors.newPassword.length > 0"
      :error-messages="errors.newPassword"
      name="password"
      label="New password"
      color="amber"
      type="password"
      outlined
      required
      @focus="errors.newPassword = []"
    />
    <v-btn
      :disabled="$store.state.loading"
      :loading="$store.state.loading"
      type="submit"
      class="mt-5"
      outlined
      color="amber"
    >
      Reset
    </v-btn>
  </form>
</template>
<script>
export default {
  data: () => {
    return {
      username: '',
      password: '',
      newPassword: '',
      errors: {
        username: [],
        password: [],
        newPassword: []
      },
      rules: {
        username: [(value) => !!value || 'Please, enter username.'],
        password: [(value) => !!value || 'Please, enter password.'],
        newPassword: [(value) => !!value || 'Please, enter new password.']
      }
    }
  },
  methods: {
    submit() {
      const payload = {}
      payload.username = this.$user().is.alias
      payload.password = this.password
      payload.newPassword = this.newPassword
      this.$store.dispatch('auth/resetPassword', payload)
      this.$router.push('/profile')
    }
  }
}
</script>
