<template>
  <form
    class="d-flex flex-column align-center"
    @submit.prevent="$store.dispatch('auth/signIn', { username, password })"
  >
    <v-text-field
      id="username"
      v-model="username"
      :rules="rules.username"
      :error="errors.username.length > 0"
      :error-messages="errors.username"
      name="username"
      label="Username"
      color="amber"
      type="text"
      outlined
      required
      @focus="errors.username = []"
    />
    <v-text-field
      id="password"
      v-model="password"
      :rules="rules.password"
      :error="errors.password.length > 0"
      :error-messages="errors.password"
      autocomplete="on"
      name="password"
      label="Password"
      color="amber"
      type="password"
      outlined
      required
      @focus="errors.password = []"
    />
    <v-btn
      :disabled="$store.state.loading"
      :loading="$store.state.loading"
      type="submit"
      class="mt-5"
      outlined
      color="amber"
    >
      Sign in
    </v-btn>
    <v-btn text small :to="signUpUrl" color="amber" class="mt-5">
      You do not have an account?
    </v-btn>
  </form>
</template>
<script>
export default {
  data: () => {
    return {
      username: '',
      password: '',
      errors: {
        username: [],
        password: []
      },
      rules: {
        username: [(value) => !!value || 'Please, enter username.'],
        password: [(value) => !!value || 'Please, enter password.']
      },
      signUpUrl: { path: '/auth/signup' }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
    })
  }
}
</script>
