<template>
  <form
    lazy-validation
    @submit.prevent="$store.dispatch('auth/signUp', { username, password })"
  >
    <v-row justify="center">
      <v-text-field
        id="username"
        v-model="username"
        :rules="rules.username"
        :error="errors.username.length > 0"
        :error-messages="errors.username"
        name="username"
        label="Username"
        type="string"
        required
        @focus="errors.username = []"
      />
    </v-row>
    <v-row justify="center">
      <v-text-field
        id="password"
        v-model="password"
        :rules="rules.password"
        :error="errors.password.length > 0"
        :error-messages="errors.password"
        name="password"
        label="Password"
        type="password"
        required
        @focus="errors.password = []"
      />
    </v-row>
    <v-row justify="center">
      <v-text-field
        id="confirmPassword"
        v-model="confirmPassword"
        :rules="rules.confirmPassword"
        :error="errors.confirmPassword.length > 0"
        :error-messages="errors.confirmPassword"
        name="confirmPassword"
        label="Confirm Password"
        type="password"
        autocomplete="on"
        required
        @focus="errors.confirmPassword = []"
      />
    </v-row>
    <v-row justify="center" class="text-xs-center mt-5">
      <router-link :to="signInUrl">
        Already have an account?
      </router-link>
    </v-row>
    <v-row justify="center" class="text-xs-center mt-5">
      <v-btn
        :disabled="$store.state.loading"
        :loading="$store.state.loading"
        type="submit"
        color="success"
      >
        Sign up
      </v-btn>
    </v-row>
  </form>
</template>
<script>
export default {
  middleware: 'anonymous',
  head: {
    title: 'Signup page'
  },
  data() {
    return {
      username: '',
      password: '',
      confirmPassword: '',
      errors: {
        username: [],
        email: [],
        password: [],
        confirmPassword: []
      },
      rules: {
        username: [(value) => !!value || 'Please, enter username.'],
        password: [
          (value) => !!value || 'Please, Enter password.',
          (value) =>
            value.length > 8 || 'Password must contain at least 8 characters.'
        ],
        confirmPassword: [
          (value) => !!value || 'Confirm password.',
          (value) => value === this.password || 'Passwords must match.'
        ]
      },
      signInUrl: { path: '/auth/signin' }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
    })
  }
}
</script>
