<template>
  <form @submit.prevent="$store.dispatch('auth/signOut')">
    <v-row justify="center" class="mb-5">
      <p>Are you sure?</p>
    </v-row>
    <v-row justify="center">
      <v-btn
        :disabled="$store.state.loading"
        :loading="$store.state.loading"
        type="submit"
        color="success"
      >
        Sign out
      </v-btn>
    </v-row>
  </form>
</template>
<script>
export default {
  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch('dialog/setOutsideClickHanding', false)
    })
  }
}
</script>
