<template>
  <v-form @submit.prevent="submit">
    <div class="d-flex flex-column align-center mb-5">
      <no-ssr>
        <upload-button
          color="transparent"
          :round="true"
          title=""
          :icon="true"
          :ripple="false"
          :hover="false"
          @file-update="carImageUploadHandler"
        >
          <template v-if="car.image" slot="icon">
            <v-avatar size="128">
              <v-img :src="car.image" />
            </v-avatar>
          </template>
          <template v-else slot="icon">
            <v-icon size="64" color="amber">cloud_upload</v-icon>
          </template>
        </upload-button>
      </no-ssr>
    </div>
    <div class="d-flex flex-row">
      <v-autocomplete
        v-model="car.mark"
        class="pl-2 pr-2"
        color="amber"
        label="Mark"
        :items="initialFormData.marks"
        outlined
      />
      <v-autocomplete
        v-model="car.model"
        class="pl-2 pr-2"
        color="amber"
        label="Model"
        :items="initialFormData.models"
        outlined
      />
    </div>
    <div class="d-flex flex-row">
      <v-text-field
        v-model="car.year"
        class="pl-2 pr-2"
        color="amber"
        label="Year"
        type="number"
        outlined
      />
      <v-autocomplete
        v-model="car.color"
        class="pl-2 pr-2"
        color="amber"
        label="Color"
        :items="initialFormData.colors"
        outlined
      />
      <v-autocomplete
        v-model="car.type"
        class="pl-2 pr-2"
        color="amber"
        label="Car type"
        :items="initialFormData.types"
        outlined
      />
    </div>
    <v-text-field
      v-model="car.number"
      color="amber"
      label="Car number"
      type="text"
      outlined
    />

    <div class="d-flex flex-row justify-center mt-5">
      <v-btn
        class="ml-3 ml-3"
        color="error"
        type="submit"
        outlined
        :to="`/cars`"
      >
        <v-icon left>arrow_back</v-icon>
        Go back
      </v-btn>
      <v-btn class="ml-3 ml-3" color="amber" type="submit" outlined>
        Create car
      </v-btn>
    </div>
  </v-form>
</template>
<script>
import { createCar } from '~/utils/cars'
import { createNotification } from '~/utils/notifications'

export default {
  data: () => ({
    car: {
      active: false,
      mark: 'Toyota',
      model: 'Prius',
      year: 2015,
      number: '123321',
      color: 'black',
      type: 'Hatckback hybrid',
      image: null,
      images: [],
      removed: false
    },
    initialFormData: {
      marks: ['Toyota', 'BMW', 'Mercedes', 'Honda', 'Nissan', 'Lexus'],
      models: ['Prius', 'X3', 'X5', 'A3', 'A5', 'A7', 'Octavia', 'Sportage'],
      years: [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010],
      colors: ['black', 'red', 'yellow', 'green'],
      types: ['Hatckback hybrid', 'Passanger', 'Wagon', 'Cargo', 'Hatchback']
    }
  }),
  async mounted() {
    await this.$nextTick(() => {})
  },
  methods: {
    async getMarks() {
      const app = this
      await fetch('/api/allmakes.json').then((response) => {
        response.json().then((response) => {
          for (let i = 0; i < response.Count; i++) {
            const result = response.Results[i]
            app.initialFormData.marks.push(result.Make_Name)
          }
        })
      })
    },
    getModels() {
      const url = new URL(
        `https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/${this.car.mark}?format=json`
      )
      const app = this
      fetch(url.toJSON()).then((response) => {
        response.json().then((response) => {
          const results = response.Results
          results.forEach(function(result) {
            app.initialFormData.models.push(result.Model_Name)
          })
        })
      })
    },
    carImageUploadHandler(file) {
      const app = this
      const reader = new FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => {
        if (!app.car.image) {
          app.car.image = reader.result
        }
        app.car.images.push(reader.result)
      }
    },
    submit() {
      const app = this
      let user = null
      app
        .$gun()
        .get('users')
        .get(`~${app.$user().is.pub}`)
        .once((data) => (user = data))
      createCar(app.$gun(), app.car, user).once(function(car, id) {
        createNotification(app.$gun(), {
          text: 'New car successfully created!',
          link: `/cars/${id}`,
          read: false
        })
        app.$store.dispatch('snackbar/set', {
          text: 'New car successfully created!',
          color: 'success',
          show: true
        })
        app.$router.push('/cars')
      })
    }
  }
}
</script>
