<template>
  <v-card v-if="car && !car.removed" class="my-3">
    <v-list-item two-line>
      <v-list-item-avatar
        tile
        size="80"
        :color="'grey' ? car.image : 'transparent'"
      >
        <v-avatar
          v-if="car.image"
          size="80"
          @click="$router.push(`/cars/${car.id}`)"
        >
          <v-img :src="car.image" />
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-content>
        <div class="d-flex flex-row justify-space-between">
          <div class="overline mb-4" @click="$router.push(`/cars/${car.id}`)">
            <div>{{ car.number }}</div>
            <v-icon
              class="mt-2"
              small
              :color="car.active ? 'success' : 'error'"
            >
              fiber_manual_record
            </v-icon>
          </div>
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn small icon dense v-on="on">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="handleCar(car)">
                <v-list-item-icon>
                  <v-icon>{{ car.active ? 'close' : 'done' }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                  {{ car.active ? 'Deactivate' : 'Activate' }}
                </v-list-item-title>
              </v-list-item>
              <v-list-item :to="`/cars/${car.id}/delete`">
                <v-list-item-icon>
                  <v-icon>delete</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                  Delete
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
        <v-list-item-title class="headline mb-1"
          >{{ car.mark }} {{ car.model }}</v-list-item-title
        >
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>
<script>
import { activateCar, deactivateCar } from '~/utils/cars'

export default {
  props: {
    car: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    handleCar(car) {
      if (car.active) {
        deactivateCar(this.$gun(), car.id)
      } else {
        activateCar(this.$gun(), car.id)
      }
    }
  }
}
</script>
