<template>
  <modal-layout>
    <form-layout>
      <div class="d-flex flex-column align-center text-center ">
        <div class="title">Click to generate new address</div>
        <v-btn class="mt-5" color="amber" @click="generateAddress">
          Generate
        </v-btn>
      </div>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { generateAddress } from '~/utils/wallet'

export default {
  components: {
    ModalLayout,
    FormLayout
  },
  middleware: 'auth',
  data: () => ({
    address: ''
  }),
  methods: {
    generateAddress() {
      const app = this
      generateAddress(this.$gun()).once((data, id) => {
        app.address = data
        app.address.id = id
      })
      if (this.address) {
        this.$router.push('/wallet')
      }
    }
  }
}
</script>
