<template>
  <modal-layout>
    <form-layout>
      <v-list>
        <v-list-item-group>
          <v-list-item
            v-for="address in addresses"
            :key="address.id"
            class="my-3"
            @click="$router.push(`wallet/${address.id}`)"
          >
            {{ address.address }}
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <v-btn color="amber" @click="$router.push('/wallet/generateAddress')">
        Generate new address
      </v-btn>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { getAddresses } from '~/utils/wallet'

export default {
  components: {
    ModalLayout,
    FormLayout
  },
  middleware: 'auth',
  asyncData({ app }) {
    const addresses = getAddresses(app.$gun())
    return {
      headers: [
        {
          text: 'Address',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Balance',
          align: 'left',
          sortable: false,
          value: 'balance'
        },
        {
          text: '$',
          align: 'left',
          sortable: false,
          value: 'usd_balance'
        }
      ],
      addresses
    }
  }
}
</script>
