<template>
  <modal-layout>
    <form-layout>
      <v-card v-if="address" flat>
        <div class="d-flex flex-column justify-center align-center">
          <v-img
            class="ml-auto mr-auto mb-5"
            :width="128"
            :height="128"
            src="/icons/btc.png"
          />
          <div class="grey--text">{{ balance }}</div>
          <v-text-field
            id="address"
            ref="address"
            v-model="address.address"
            name="address"
            label="Address"
            type="text"
            disabled
            required
          />
          <div class="d-flex flex-row justify-center">
            <v-btn
              outlined
              class="mx-3 my-3"
              color="amber"
              :disabled="balance === 0"
              @click="$router.push(`/wallet/${address.id}/withdraw`)"
            >
              Withdraw
            </v-btn>
            <v-btn
              outlined
              class="mx-3 my-3"
              color="amber"
              @click="$router.push(`/wallet/${address.id}/receive`)"
            >
              Receive
            </v-btn>
          </div>
        </div>
      </v-card>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import { getAddress, updateAddressBalance } from '~/utils/wallet'
const sb = require('satoshi-bitcoin')

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout
  },
  computed: {
    balance() {
      if (this.address) {
        return this.address.balance
      } else {
        return 0
      }
    }
  },
  watch: {
    balance(value) {
      return sb.toBitcoin(value)
    }
  },
  asyncData({ app, params }) {
    return getAddress(app.$gun(), params.id)
      .once(function(data, id) {
        const address = data
        address.id = id
        return address
      })
      .then((address) => {
        return {
          address
        }
      })
  },
  mounted() {
    this.$nextTick(() => {
      if (this.address) {
        updateAddressBalance(this.$gun(), this.address.address, this.address.id)
      }
    })
  }
}
</script>
