<template>
  <modal-layout>
    <form-layout>
      <v-card flat>
        <receive-form v-if="address" :address="address" />
      </v-card>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import ReceiveForm from '~/components/wallet/ReceiveForm'
import { getAddress, updateAddressBalance } from '~/utils/wallet'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout,
    ReceiveForm
  },
  asyncData({ app, params }) {
    return getAddress(app.$gun(), params.id)
      .once(function(data, id) {
        const address = data
        address.id = id
        return address
      })
      .then((address) => {
        return {
          address
        }
      })
  },
  mounted() {
    this.$nextTick(() => {
      if (this.address) {
        // this.$store.dispatch('dialog/setOutsideClickHanding', false)
        // this.$store.dispatch('dialog/setRedirect', true)
        // this.$store.dispatch(
        //   'dialog/setRedirectURL',
        //   `/wallet/${this.address.id}`
        // )
        updateAddressBalance(this.$gun(), this.address.address, this.address.id)
      }
    })
  }
}
</script>
