<template>
  <modal-layout>
    <form-layout>
      <v-card flat>
        <withdraw-form v-if="address" :address="address" />
      </v-card>
    </form-layout>
  </modal-layout>
</template>
<script>
import ModalLayout from '~/components/ModalLayout'
import FormLayout from '~/components/FormLayout'
import WithdrawForm from '~/components/wallet/WithdrawForm'
import { getAddress, updateAddressBalance } from '~/utils/wallet'

export default {
  middleware: 'auth',
  components: {
    ModalLayout,
    FormLayout,
    WithdrawForm
  },
  asyncData({ app, params }) {
    return getAddress(app.$gun(), params.id)
      .once(function(data, id) {
        const address = data
        address.id = id
        return address
      })
      .then((address) => {
        return {
          address
        }
      })
  },
  mounted() {
    this.$nextTick(() => {
      if (this.address) {
        updateAddressBalance(this.$gun(), this.address.address, this.address.id)
      }
      if (this.address) {
        updateAddressBalance(this.$gun(), this.address.address, this.address.id)
        if (this.address.balance === 0) {
          this.$store.dispatch('snackbar/set', {
            show: true,
            color: 'error',
            text: 'Refill balance before withdrawing funds'
          })
          this.$router.push(`/wallet/${this.address.id}`)
        }
      }
    })
  }
}
</script>
